@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

:root {
  --theme-color: #20D3C2;
  --primary-gray-background: #EEEE;
  --secondary-gray-background: #CCCCCC;
  --theme-card-color: #EDFCFA;
  --blue-theme-color: #0E153D;
}

.theme-color {
  background-color: var(--theme-color) !important;
}

.theme-color-text {
  color: var(--theme-color) !important;
}





